<script src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>


 <div class="footer">
    	<h2>Homé Company</h2>
    	<div class="footerLinks">
    		<a href="/" class="<%= url === "/" ? "colored" : "" %>">Ana Sayfa</a>
        <a href="/members" class="<%= url === "/members" ? "colored" : "" %>">Ekibimiz</a>
        <a href="/company" class="<%= url === "/company" ? "colored" : "" %>">Company</a>
        <a href="/botlar" class="<%= url === "/botlar" ? "colored" : "" %>">Botlarımız</a>
        <a href="/companybasvuru" class="<%= url === "/companybasvuru" ? "colored" : "" %>">Companyimize başvur</a>
        <a href="https://discord.gg/f46eEvqK39" target="_blank">Discord</a>
    	</div>
    	<p class="copyright">
    		Tüm Hakları Saklıdır. <span>This website made with<i style="margin: 4px;" class="fas fa-heart"></i>by Ceon and Elefante</span>
    	</p>
    </div>

<button id="back-to-top-btn"><i class="fa fa-angle-up"></i></button>

<script>
  function toggle() {
    var home = document.getElementById('home');
    var nav = document.getElementById('navigation');
    home.classList.toggle('active');
    nav.classList.toggle('active');
  }

  $(window).on("load", function(){
    $(".loader-wrapper").fadeOut("slow");
  });
</script>
<script src="javascript/main.js"></script>